.markdown {
	@apply text-lg leading-relaxed;
}

.markdown {
	text-align: justify;
}

.markdown p,
.markdown ul,
.markdown ol,
.markdown blockquote {
	@apply my-6;
	list-style-type: circle;
}

.markdown ol {
	list-style-type: decimal;
}

.markdown ul,
.markdown ol {
	margin-left: 3rem;
}

.markdown pre {
	background-color: #000000;
	border-radius: 5px;
	padding: 1rem;
}

.markdown pre > code {
	padding: 0;
	color: honeydew;
}

.markdown pre {
	word-break: break-all;
	overflow-y: auto;
}

.markdown code {
	background-color: #000000;
	padding: 0.2rem;
	border-radius: 5px;
	color: #0f7;
	text-align: justify;
}

.markdown h2 {
	font-weight: bold;
}

.markdown h2 {
	@apply text-3xl mt-12 mb-4 leading-snug;
}

.markdown h3 {
	@apply text-2xl mt-8 mb-4 leading-snug;
}

@media only screen and (max-width: 700px) {
	.markdown code {
		font-size: 14px;
	}
}
